.seccion2 {
    padding: 48 24px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    

}

.texto2 {
    font-family: -serif;
    font-size: 20px;
    color: #486284;

}

.titulo2 {
    font-size: 24px;
    font-family:  sans-serif;
    color: #486284;
}

.descripcion2 {
    font-size: 16px;
    font-family:  sans-serif;
    color: #8CA2C0;
    

}

.btn2 {
    width: 100%;
    border: 1px solid gray;
    background-color: #486284;
    border-radius: 30px;
    padding: 20px;

    font-size: 16px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 20px;
}

.btn3 {
    width: 100%;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 20px;

    font-size: 16px;
    color: #486284;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-top: 20px;  
}

.titulo3 {
    padding: 20px;
    font-size: 21px;
    font-family: sans-serif;
    color: #9CB0C9;
}

.logos {
    width: 100%;
    padding: 4px;

    display: flex;
    gap: 10px;
    justify-content: center;
}

.logos div {
    width: 200px;
    height: 200x;
}
